.container{
	border:5px solid black;
	background-image: url(../../assets/images/503623159.jpg);


	

}
.row1{
	height: 75px;
	width:300px;
	background-color:#FF5733;
	color:white;
	

	
}
.instructions{
	height:300px;
	width:450px;
	color: green;
	background-color: #FFC733;
	padding-top: 10px;
	
}

.col-md-3{
	height:75px;
	width:125px;
	background-color: green;

}
.col-md-2{
	height:75px;
	width: 125px;
	background-color: blue;

}
.gems{
	height:100px;
	width: 100px;
	background-color: yellow;
	border:5px solid #FFC733;
	margin-right: 3px;
}
.score{
	width:200px;
	height:25px;
	background-color: black;
	font-size: 16px;
	color:white;
	
}
#incrementBox{
	width:200px;
	height:125px;
	background-color: red;
	color:white;
	font-size: 50px;
	text-align: center;
	
}
ul li, ol li {
     line-height:160%; /*or whatever height you like*/
     margin-right:1em;
}
#target{
	width:200px;
	height:100px;
	background-color: green;
	font-size: 50px;
	color:white;
	text-align: center;
	margin-right: 3px;
}

#scoreboard{
	height:100px;
	color:white;
	padding:0px;
}
#scoreWins{
	height:50px;
	color:white;
	text-align: left;
	font-size: 25px;
	
	

}
#scoreLosses{
	height:50px;
	color:white;
	text-align: left;
	font-size: 25px;

}
#ruby{
	
	background-image: url(../../assets/images/ruby-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
#diamond{
	background-image: url(../../assets/images/diamond-1.jpg);
	background-position: center center;
}
#gold{
	background-image: url(../../assets/images/download-3.jpg);
	background-position: center center;
}

#emerald{
	background-image: url(../../assets/images/emerald-2.jpg);
	background-position: center center;
}
.row{
	margin-bottom: 3px;
	margin-left: 3px;
}
ul {
	list-style-type: none;

}


